name: Auto Deploy to OCI

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.OCI_HOST }}
          username: ${{ secrets.OCI_USER }}
          script: |
            cd ${{ secrets.OCI_PROJECT_PATH }}

            echo ">>> Git pull"
            git pull

            echo ">>> Start new process"
            nohup python main.py > app.log 2>&1 &
